@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand-Regular.ttf") format("truetype");
}
.logo a {
  text-decoration: none;
}
.logo__ban {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px #dbdbdb;
  margin-bottom: 4px;
}
.logo__img {
  width: 10rem;
  margin: 10px;
  padding-top: 10px;
}

.footer__logo--clr {
  filter: invert(1);
  width: 6rem;
  align-content: space-between;
  padding-inline-start: 25px;
  margin-bottom: 0px;
  margin-top: 24px;
}
.footer__choice {
  color: #fff;
  background: #353535;
  display: flex;
  flex-direction: column;
}
.footer__options {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 25px;
  line-height: 25px;
}
.footer__options a {
  color: #fff;
}
.footer__options--icon {
  font-size: 13px;
  margin-right: 6px;
  width: 17px;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 350px;
}
.intro__localisation {
  background: #ebeaea;
  color: #353535;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.intro__localisation--input {
  border: none;
  background: #ebeaea;
  color: #353535;
  font-weight: bolder;
  font-size: 15px;
  width: 130px;
  margin-left: 8px;
}
.intro__text h1 {
  letter-spacing: -1px;
  font-size: 23px;
  width: 70%;
  display: inline-flex;
  margin-top: 30px;
  margin-bottom: 12px;
}
.intro__text p {
  color: #757575;
  width: 80%;
  display: inline-flex;
  margin-top: 0;
  font-size: 17px;
  margin-bottom: 32px;
}

.titlesection2 h2 {
  letter-spacing: -1px;
  font-size: 23px;
  margin-left: 15px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonction {
  border-radius: 20px;
  box-shadow: 0px 4px 4px #dbdbdb;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
}
.fonction__bloc {
  color: #fff;
  border-radius: 20px;
  background: #9356DC;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 100;
  margin-left: -12px;
  margin-right: 20px;
}
.fonction__bloc--mob {
  color: #757575;
  font-size: 19px;
  margin-right: 20px;
}
.fonction__bloc--list {
  color: #757575;
  font-size: 15px;
  margin-right: 17px;
}
.fonction__bloc--store {
  color: #9356DC;
  margin-right: 13px;
}

.btn__explore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.87rem;
  width: 200px;
  border-radius: 24px;
  background: linear-gradient(165deg, #ff79da, #9356dc);
  border: none;
  cursor: pointer;
  height: 48px;
  color: #fff;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

li, p {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*# sourceMappingURL=styles.css.map */
