@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("fonts/Shrikhand-Regular.ttf") format("truetype");
}
.logo a {
  text-decoration: none;
  display: block;
}
.logo__ban {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px #cfcfcf;
  margin-bottom: 4px;
}
.logo__img {
  width: 10rem;
  margin: 10px;
  padding-top: 10px;
}

.footer__logo--clr {
  filter: invert(1);
  width: 6rem;
  align-content: space-between;
  padding-inline-start: 25px;
  margin-bottom: 0px;
  margin-top: 24px;
}
.footer__choice {
  color: #fff;
  background: #353535;
  display: flex;
  flex-direction: column;
}
.footer__options {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 25px;
  line-height: 25px;
}
.footer__options a {
  color: #fff;
}
.footer__options--icon {
  font-size: 13px;
  margin-right: 6px;
  width: 17px;
}

/*Intro*/
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
  padding-bottom: 55px;
}
.intro__localisation {
  background: #eaeaea;
  color: #353535;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.intro__localisation--input {
  border: none;
  background: #eaeaea;
  color: #353535;
  font-weight: bolder;
  font-size: 15px;
  width: 130px;
  margin-left: 8px;
}
.intro__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__text h1 {
  letter-spacing: -1px;
  display: flex;
  margin-top: 30px;
  margin-bottom: 12px;
  width: 75%;
  font-size: x-large;
}
.intro__text p {
  color: #757575;
  display: inline-flex;
  margin-top: 0;
  font-size: 17px;
  margin-bottom: 32px;
}

/*Section 2*/
.section2 {
  margin-top: 30px;
  margin-bottom: 50px;
}
.section2__bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__bloc__title {
  letter-spacing: -1px;
  display: flex;
  width: 94%;
  font-size: initial;
}

.fonction {
  border-radius: 20px;
  box-shadow: 0px 4px 4px #ececec;
  background-color: #f6f6f6;
  margin-bottom: 19px;
  margin-top: 8px;
  width: 90%;
}
.fonction__etapes {
  display: flex;
  align-items: baseline;
  font-size: 15px;
  padding: 4px;
}
.fonction a {
  text-decoration: none;
  display: block;
  color: black;
}
.fonction:hover {
  background-color: #f5edff;
}
.fonction:hover .fonction__bloc__mob {
  color: #9356DC;
}
.fonction:hover .fonction__bloc__list {
  color: #9356DC;
}
.fonction:hover .fonction__bloc__store {
  color: #9356DC;
}
.fonction__bloc {
  color: #fff;
  border-radius: 20px;
  background: #9356DC;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 100;
  margin-left: -12px;
  margin-right: 20px;
}
.fonction__bloc__mob {
  color: #757575;
  font-size: 20px;
  margin-right: 20px;
}
.fonction__bloc__list {
  color: #757575;
  font-size: 18px;
  margin-right: 17px;
}
.fonction__bloc__store {
  color: #757575;
  margin-right: 13px;
  font-size: 18px;
}

/*Section 3*/
.section3 {
  background-color: #f6f6f6;
}
.section3__bloc--title {
  letter-spacing: -1px;
  display: flex;
  font-size: initial;
  padding-top: 30px;
  padding-left: 18px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1070px;
  padding-bottom: 70px;
}
.cards__bloc {
  border-radius: 15px;
  box-shadow: 0px 4px 4px #ececec;
  background-color: #fff;
  width: 90%;
}
.cards__bloc__img {
  position: relative;
  display: flex;
}
.cards__bloc__img img {
  flex-basis: 100%;
  object-fit: cover;
  display: flex;
  height: 172px;
  object-position: bottom;
  border-radius: 15px 15px 0 0;
  width: 90%;
}
.cards__bloc__img__ind {
  position: absolute;
  right: 13px;
  top: 13px;
  background-color: #99E2D0;
  color: #299077;
  border-radius: 3px;
  padding: 8px 12px 5px 12px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
}
.cards__bloc__img--mod img {
  object-position: center;
  width: 90%;
}
.cards__bloc__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 14px;
}
.cards__bloc__text__cont {
  flex-basis: 77%;
}
.cards__bloc__text p {
  color: #353535;
  font-size: 17px;
  padding: 5px 0 15px 10px;
  margin: 0;
}

.btn__explore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.87rem;
  width: 200px;
  border-radius: 24px;
  background: linear-gradient(174deg, #ff79da, #9356dc);
  border: none;
  cursor: pointer;
  height: 48px;
  color: #fff;
  font-weight: bold;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 325ms;
}
.btn__explore:hover {
  transform: scale(1.1);
}
.btn__like {
  margin-top: 7px;
  color: darkslategrey;
  display: flex;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
  border: none;
  background-color: #fff;
  font-size: 24px;
}
.btn__like__1 {
  position: absolute;
  opacity: 0;
}
.btn__like:hover .btn__like__2 {
  background: linear-gradient(5deg, #ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 900;
  animation: animheart 1000ms both;
  transform-origin: center;
}
.btn__like:hover .btn__like__1 {
  background: linear-gradient(5deg, #ff79da, #9356dc);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 1;
}

@keyframes animheart {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

li, p {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", sans-serif;
  font-weight: bold;
}

h3 {
  letter-spacing: -0.7px;
  font-size: 18px;
  padding-top: 5px;
  margin: 0;
  padding-left: 10px;
  color: black;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*Animation Chargement*/
.circle {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  animation: spinner 2800ms linear 200ms forwards;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 0.45;
  }
  25% {
    transform: rotate(90deg);
    opacity: 1;
  }
  75% {
    transform: rotate(270deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.45;
  }
}
.circle:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#EE7DDA, #9356dc, #773A75);
  border-radius: 50%;
}

.circle span:nth-child(1) {
  filter: blur(10px);
  background: linear-gradient(#EE7DDA, #9356dc, #773A75);
}

.circle span:nth-child(2) {
  filter: blur(20px);
  background: linear-gradient(#EE7DDA, #9356dc, #773A75);
}

.circle span:nth-child(3) {
  filter: blur(30px);
  background: linear-gradient(#EE7DDA, #9356dc, #773A75);
}

.span__4 {
  background: white;
  width: 180px;
  height: 180px;
  background-image: url("https://scrantonicity2.github.io/StephaneMercier_03_16082021/images/logo/ohmyfood@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 50%;
  position: absolute;
  bottom: 45px;
  left: 45px;
}

.barre {
  width: 170px;
  height: 170px;
  border-left: solid black 2px;
  border-radius: 100%;
  position: absolute;
  bottom: 50px;
  left: 50px;
  animation: bar 2400ms linear 200ms forwards;
}

@keyframes bar {
  0% {
    transform: rotate(0deg);
    opacity: 0.45;
  }
  75% {
    transform: rotate(-270deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    opacity: 0.45;
  }
}

/*# sourceMappingURL=styles.css.map */
