/*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 323px;
    background-color: $back-clr-intro;
    margin-bottom: 30px;

    &__localisation {
        @include ban-loc;
        width: 100%;

        &--input {
            border: none;
            background: $back-clr-location;
            color: $back-clr-foot;
            font-weight: bolder;
            font-size: 15px;
            width: 130px;
            margin-left: 8px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            @include grostitres;
            margin-top: 30px;
            margin-bottom: 12px;
            width: 75%;
            font-size: x-large;
        }
    
        & p {
        color: $color-p;
        display: inline-flex;
        margin-top: 0;
        font-size: 17px;
        margin-bottom: 32px;
        }
    }    
}

/*Section 2*/
.section2 {
    height: 420px;

    &__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;

        &__title {
            @include grostitres;
            width: 94%;
            font-size: initial;
        }
    }
}

.fonction {

    border-radius: 20px;
    box-shadow: $box-shadow;
    background-color: $back-clr-intro;
    display: flex;
    justify-content: flex-start;
    @include marginfonction;

    &__etapes {
        display: flex;
        align-items: baseline;
        min-width: 310px;
        font-size: 15px;
        padding: 4px;
    }
        
    & a {
        @include liens;
        color: black;
    }

    &:hover {
        background-color: $color-hover;
        & .fonction__bloc {
            &__mob {
                color: $color-primary;
            }
            &__list {
                color: $color-primary;
            }
            &__store {
                color: $color-primary;
            }
        }
    }

    &__bloc {
        color: $back-clr;
        border-radius: 20px;
        background: $color-primary;
        padding-top: 6px;
        padding-bottom: 2px;
        padding-left: 9px;
        padding-right: 8px;
        font-size: 14px;
        font-weight: 100;
        margin-left: -12px;
        margin-right: 20px;

        &__mob {    
            color: $color-p;
            font-size: 20px;
            margin-right: 20px;
        }
        &__list {
            color: $color-p;
            font-size: 18px;
            margin-right: 17px;
        }
        &__store {
            color: $color-p;
            margin-right: 13px;
            font-size: 18px;
        }
    }
}

/*Section 3*/

.section3 {
    background-color: $back-clr-intro;

    &__bloc {
        &--title {
            @include grostitres;
            font-size: initial;
            padding-top: 30px;
            padding-left: 18px;
        }
    }
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1055px;

    &__bloc {
        flex-basis: 20%;
        border-radius: 15px;
        box-shadow: $box-shadow;
        background-color: $back-clr;
        width: 90%;

        &__img {
            position: relative;
            display: flex;

            & img {
                flex-basis: 100%;
                object-fit: cover;
                display: flex;
                height: 172px;
                object-position: bottom;
                border-radius: 15px 15px 0 0;
            }
            &__ind {
                position: absolute;
                right: 13px;
                top: 13px;
                background-color: $color-tertiary;
                color: $color-news;
                border-radius: 3px;
                padding: 8px 12px 5px 12px;
                font-size: 14px;
                font-family: sans-serif;
                font-weight: bold;
            }
            &--mod img{
                object-position: center;
            }
        }   

        &__text {
            line-height: 6px;
            & p {
                color: $back-clr-foot;
                font-size: 17px;
                padding-bottom: 8px;
            }
        }           
    }
}



