.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 350px;

    &__localisation {
        @include ban-loc;
        width: 100%;

        &--input {
            border: none;
            background: $back-clr-location;
            color: $back-clr-foot;
            font-weight: bolder;
            font-size: 15px;
            width: 130px;
            margin-left: 8px;
        }
    }

    &__text h1 {
        @include grostitres;
        width: 70%;
        display: inline-flex;
        margin-top: 30px;
        margin-bottom: 12px;
    }
    
    &__text p {
        color: $color-p;
        width: 80%;
        display: inline-flex;
        margin-top: 0;
        font-size: 17px;
        margin-bottom: 32px;
    }
}

.titlesection2 {
    & h2 {
        @include grostitres;
        margin-left: 15px;
    }
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fonction {

    border-radius: 20px;
    box-shadow: $box-shadow;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    @include marginfonction;


    &__bloc {
        color: $back-clr;
        border-radius: 20px;
        background: $color-primary;
        padding-top: 6px;
        padding-bottom: 2px;
        padding-left: 9px;
        padding-right: 8px;
        font-size: 14px;
        font-weight: 100;
        margin-left: -12px;
        margin-right: 20px;

        &--mob {    
            color: $color-p;
            font-size: 19px;
            margin-right: 20px;
        }
        &--list {
            color: $color-p;
            font-size: 15px;
            margin-right: 17px;
        }
        &--store {
            color: $color-primary;
            margin-right: 13px;
        }
    }
}