main {
    background: $back-clr-intro;
}

/*Présentation*/
.prest {
	& img {
        width: 100%;
        max-height: 280px;
        object-fit: cover;
    }
}

.menu {
    background: $back-clr-intro;
    border-radius: 35px 35px 0 0;
    padding-top: 8px;
    top: -53px;
    position: relative;

    &__titre {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    & h1 {
    font-family: "Shrikhand" , sans-serif;
    font-size: 27px;
    }
}

/*Entrées*/
.cartes {
    &__titre {
        text-transform: uppercase;
        display: flex;
        background: $back-clr-intro;
        margin-bottom: 10px;

        & h2 {
            border-bottom: $color-tertiary solid 3px;
            font-weight: lighter;
            font-size: initial;
            padding-bottom: 5px;
            font-size: 15px;
            color: $back-clr-foot;
            margin-left: 15px;
            width: 42px;
        }
    }
}

.carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin: 0 11px 0 11px;

    &__bloc {
    background: $back-clr;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: $carte-shad;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 14px 12px 8px 12px;

        & p {
            color: $back-clr-foot;
            font-size: 15px;
            padding: 6px 0 4px 0px;
            margin: 0;
        }
    }

    &__prix {
        display: flex;
        font-weight: bold;
        font-size: 15px;
        justify-content: center;
        align-items: flex-end;
        padding: 0 23px 12px 0;
    }
}