.logo {

    & a {
        @include liens;
    }

    &__ban {
        display: flex;
        justify-content: center;
        box-shadow: $box-shadow;
        margin-bottom: 4px;
    }

    &__img {
        width: 10rem;
        margin: 10px;
        padding-top: 10px;
    }

}